{% extends 'core/index.html' %}
{% load static %}

{% block content %}
<div class="column is-12-tablet is-10-desktop is-8-widescreen" style="margin: 20px;">
    <div class="columns is-multiline">

        <!-- List of Students -->
        <div class="column is-full">
            <div class="notification is-info has-text">
                <p class="text is-info" style="font-weight: bold;">{{ all_courses }}  
                
            </div>
            <span><a href="{% url 'course_create' %}" class="button is-info is-medium">
                        <i class="fas fa-plus is-white"></i> Add New Course
                    </a></span></p>
        </div>

        <!-- Add New Student Form -->
        

        {% if courses %}
            <div class="column is-full" style="margin: 20px;">
                <table class="table is-bordered is-fullwidth">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ course.name }}</td>
                                <td>{{ course.code }}</td>
                                <td>{{ course.status }}</td>
                                <td>
                                    <a href="{% url 'course_delete' course.pk %}" class="button is-small is-danger jb-modal" data-target="sample-modal">
                                        <span class="icon"><i class="fas fa-trash-alt"></i></span>
                                    </a>
                                    <span>&nbsp;&nbsp;</span>
                                    <a href="{% url 'course_update' course.pk %}" class="button is-small is-info">
                                        <span class="icon"><i class="fas fa-edit"></i></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
     {% endif %}
       
    </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock %}
