{% extends 'core/index.html' %}
{% load static %}
{% block content %}
<section style="display: flex; margin: 20px;">

  <div class="card">
  


    <div class="card has-table has-mobile-sort-spaced">
      <header class="card-header">
    <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
        {{ all_students }}
    </p>
     <div class="card-header-icon" style="display: flex; margin: 20px;">
        <a href="{% url 'student_create' %}" class="button is-medium" style="background-color: #349ce4; color: white; font-weight: bold;">
            <i class="fas fa-plus"  style="color: white; font-weight: bold;"></i> Add New Student
        </a>
        <span class="is-size-7">&nbsp;</span> <!-- Small space -->
        <a href="{% url 'import_csv' %}" class="button is-medium" style="background-color: #349ce4;color: white; font-weight: bold;">
            <i class="fas fa-arrow-circle-down" style="color: white; font-weight: bold;"></i> Import Student Records
        </a>
    </div>
</header>
    <form method="post" action="{% url 'student_search' %}" class="form">
        {% csrf_token %}
        
        <div class="field is-grouped">
            <div class="control">
                <input class="input" type="text" id="search_term" name="search_term" placeholder="Enter student details" />
            </div>

            <div class="control">
                <button type="submit" class="button is-info">Search</button>
            </div>
        </div>
    </form>
    

    
      <div class="card-content">
        <div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">
              {% if students %}
            <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
              <thead>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Admission Number</th>
                <th>Course</th>
                <th>Actions</th>

                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for student in students %}
              <tr>
                
                  <td>{{ forloop.counter }}</td>
                <td data-label="Name">
    <i class="fas fa-user"></i> {{ student.first_name }} {{ student.last_name }}
</td>
<td data-label="Company">
    <i class="fas fa-id-card"></i> {{ student.student_id }}
</td>
<td data-label="City">
    <i class="fas fa-book"></i> {{ student.course }}
</td>

                 


                <td class="is-actions-cell">
    <div class="buttons is-right">
        <a href="{% url 'student_details' student.pk %}" class="button is-small is-primary">
            <span class="icon"><i class="fas fa-eye"></i></span>
        </a>
        <a href="{% url 'student_update' student.pk %}" class="button is-small is-info">
            <span class="icon"><i class="fas fa-edit"></i></span>
        </a> 
        <a href="{% url 'student_delete' student.pk %}" class="button is-small is-danger jb-modal" data-target="sample-modal">
            <span class="icon"><i class="fas fa-trash-alt"></i></span>
        </a>
    </div>
</td>

              </tr>
              {% endfor %}
              </tbody>
            </table>
          {% include "pagination.html" with page=page_obj %}
    {% else %}
        <p class="notification is-warning">
            No results found for "{{ search_term }}". Please try a different search term or consider adding a new student.
        </p>
        
    {% endif %}
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
