{% extends 'admin/dashboard.html' %}
{% load static %}

{% block content %}
    <div class="column is-12-tablet is-3-desktop is-3-widescreen">
        <div class="columns">
            <!-- List of Students -->
            <div class="column is-full">
                <div class="notification is-danger has-text">
                    <p class="text is-danger is-medium" style="font-weight: bold;">{{ class_info }} </p>
                </div>
            </div>
        </div>
    </div>

    <form method="get" action="{% url 'class_index' %}" class="field has-addons">
    <div class="control" style="font-size: medium;">
        {{ search_form.search_term }}
    </div>
    <div class="control">
        <button type="submit" class="button is-info is-small">Search</button>
    </div>
</form>

    {% if class_index %}
        <table class="table is-bordered is-fullwidth">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Timetable</th>
                </tr>
            </thead>
            <tbody>
                {% for class_obj in class_index %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ class_obj.name }}</td>
                        <td>{{ class_obj.status }}</td>
                        <td>
                            <a href="{% url 'class_delete' class_obj.pk %}" style="color: red;">
                                <i class="fa-solid fa-delete-left"></i>
                            </a>
                            <span>&nbsp;&nbsp;</span>
                            <a href="{% url 'class_update' class_obj.pk %}" style="color: burlywood;">
                                <i class="fa-solid fa-edit"></i>
                            </a>
                            
                        </td>
                    <td>
                            <a href="{% url 'class_timetable'  pk=class_obj.pk%}" class="button is-link">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "pagination.html" with page=page_obj %}
    {% else %}
        <p class="notification is-warning">
            No results found for "{{ search_form.cleaned_data.search_term }}". Please try a different search term or consider adding a new class.
        </p>
    {% endif %}

{% endblock content %}
{% block footer %}
{% endblock %}
