<!-- registration_success.html -->

{% extends 'core/index.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Registration Successful!</h4>
            <p>Your class has been successfully registered. Thank you!</p>
            
        </div>

        <a href="{% url 'class_index' %}" class="button is-primary">OK</a>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}