{% extends 'core/index.html' %}
{% load static %}

{% block content %}
    <div class="column is-12-tablet is-3-desktop is-3-widescreen" style="display: flex; margin: 20px;">
        <div class="columns">
            <!-- List of Students -->
            <div class="column is-full">
                <div class="notification is-info has-text">
                    <p class="text is-info" style="font-weight: bold;">{{ lecturer_details }} </p>
                </div>
                 <a href="{% url 'lecturer_create' %}" class="button is-info is-medium">
                            <i class="fas fa-plus"></i>  Add New Lecturer
                        </a>
                   
            </div>
            
                    
                       
                
        </div>
    </div>
    

    {% if lecturer_index %}
        <table class="table is-bordered is-fullwidth" style="margin: 20px;">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Action</th>
                    <th>TimeTable</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for lecturer in lecturer_index %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ lecturer.name }}</td>
                        
                        <td>
                            <a href="{% url 'lecturer_delete' lecturer.pk %}" class="button is-small is-danger jb-modal" data-target="sample-modal">
                                <span class="icon"><i class="fas fa-trash-alt"></i></span>
                            </a>
                            <span>&nbsp;&nbsp;</span>
                            <a href="{% url 'lecturer_update' lecturer.pk %}" class="button is-small is-info">
                                <span class="icon"><i class="fas fa-edit"></i></span>
                            </a>
                            
                        </td>
                    <td>
                            <a href="{% url 'lecturer_timetable' lecturer.pk %}" class="button is-info">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
           {% include "pagination.html" with page=page_obj %}
    {% else %}
        <p class="notification is-warning">
            No results found for "{{ search_form.cleaned_data.search_term }}". Please try a different search term or consider adding a new class.
        </p>
    {% endif %}

{% endblock content %}
{% block footer %}
{% endblock %}
