{% extends 'core/index.html' %}
{% load static %}

{% block content %}
    <div class="column is-12-tablet is-3-desktop is-3-widescreen" style="margin: 20px;">
        <div class="columns">
            <!-- List of Students -->
            <div class="column is-full">
                <div class="notification is-info has-text">
                    <p class="text is-info is-medium" style="font-weight: bold;">{{ all_semester }} </p>
                </div>
            </div>
            
            <div class="header">
                    <div class="buttons">
                        
                                        <a href="{% url 'semester_create' %}" class="button is-info is-medium">
                    <i class="fas fa-plus"></i>  Add New Semester
               

                        
                                       <a href="{% url 'semester_table' %}" class="button is-info is-medium">
                    View Semester Classes
                </a>
                                        </a>                         

                    </div>
                   

                </div> 
            
            
            
            
        </div>

        {% if semester_index %}
            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Semester Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for semester in semester_index %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ semester.name }}</td>
                            <td>{{ semester.status }}</td>
                            <td>
                                <a href="{% url 'semester_delete' semester.pk %}" style="color: red;">
                                    <i class="fa-solid fa-delete-left"></i>
                                </a>
                                <span>&nbsp;&nbsp;</span>
                                <a href="{% url 'semester_update' semester.pk %}" style="color: burlywood;">
                                    <i class="fa-solid fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "pagination.html" with page=page_obj %}
        </div>
    {% endif %}
{% endblock content %}

{% block footer %}
{% endblock %}
